<% provide(:title, "Neko Nekoとは") %>
<h1>Neko Neko とは</h1>
<p>
  ねこ好きの・ねこ好きによる・ねこ好きのためのサイトです。
</p>
<p>
  ねこ関連の記事や画像を投稿してみんなでほっこりしましょう。。。
</p>
<p>
  なんと！ねこが登録してもOKです！ねこが投稿するときは、飼い主さんが代わりに投稿してやってください。
</p>