<% provide(:title, "Neko Nekoとは") %>
  <div class="container-fluid">
    <div class="jumbotron_2">
      <div class="bg-mask">
        <h1>Neko Neko とは</h1>
        <p>
          何かと世知辛い世の中ですが、猫を見ていると大体の悩み事がどうでもよくなりますよね。そんな癒しのパワー溢れるNeko Nekoサイトを活用して明日への活力をつけてはいかがでしょうか。。
        </p>
      </div>
    </div>
  </div>