<% provide(:title, "Neko Nekoとは") %>
  <div class="container-fluid">
    <div class="jumbotron_2">
      <div class="bg-mask">
        <h1>Neko Neko とは</h1>
        <p>
          ねこ好きの・ねこ好きによる・ねこ好きが喜ぶサイトです。
        </p>
        <p>
          ねこの記事や画像を投稿してみんなでほっこりしましょう。。。
        </p>
        <p>
          ねこが登録してもOKです！ねこが投稿するときは、飼い主さんが代わりに投稿してやってください。
        </p>
      </div>
    </div>
  </div>