<div class="top-wrapper">
  <div class="container-home">
    <h1>Welcome to the Neko Neko</h1>

    <h2>猫とハッピーなライフを</h2>
        <%= link_to "登録", signup_path , class: "btn btn-lg btn-primary" %>
        <%= link_to "ログイン", '#', class: "btn btn-lg btn-primary" %>
  </div>

</div>