<h1>Neko Neko</h1>

<p>こんにちは！ <%= @user.name %>さん！</p>

<p>
ようこそ Neko Neko へ！下のリンクをクリックして登録を進めてください！
</p>

<%= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>