<% provide(:title, '登録している人間 or ねこ') %>
<div class="container-fluid">
  <div class="jumbotron_4">
    <div class="bg-mask">
      <div class="row">
        <div class="col-md-12">
          <h3>登録している人間 or ねこ</h3>
          <ul class="users">
          <%= will_paginate %>
            <%= render @users %>
          <%= will_paginate %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>