<% provide(:title, "Neko Nekoとは") %>
  <div class="container-fluid">
    <div class="jumbotron_2">
      <div class="bg-mask">
        <h1>Neko Neko とは</h1>
        <p>
          ねこ好きの・ねこ好きによる・ねこ好きのためのサイトです。
        </p>
        <p>
          ねこの記事や画像を投稿してみんなでほっこりしましょう。。。
        </p>
      </div>
    </div>
  </div>