/* bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* font-awesome */
@import "font-awesome-sprockets";
@import "font-awesome";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 ,p {
  line-height: 1;
  font-family: 'Yusei Magic', sans-serif;
}

h1 {
  font-size: 4vmax;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

h2 {
  font-size: 3vw;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

h3 {
  font-size: 4rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  font-family: 'Yusei Magic', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* home */
.jumbotron {
  position: relative;
  height: 70vh;
  background: image-url("4629742_m.jpg") center;
  background-size: cover;
  font-size: 1.3em;
  }

.jumbotron_2 {
  position: relative;
  height: 100%;
  background: image-url("nekohaikei.jpg");
  background-size: cover;
  font-size: 1.2vmax;
  }

.jumbotron_3 {
  position: relative;
  height: 100%;
  background: image-url("nekohaikei2.jpg");
  background-size: cover;
  font-size: 2vmax;
  }

.jumbotron_4 {
  position: relative;
  height: 100%;
  background: image-url("nekohaikei3.jpg");
  background-repeat: repeat;
  font-size: 1.4rem;
  }

  .bg-mask {
    height: 100%;
    background: rgba(255,255,255,0.75);
  }

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    padding-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      padding-top: 5px;
    }
    h1 {
      font-size: 3em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;
    border-bottom: 1px solid $gray-lighter;
    font-size: 1.3em
  }
  
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 1.5em;
  }
  .content {
    display: block;
    margin-left: 60px;
    font-size: 25px;
    font-family: 'Yusei Magic', sans-serif;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .comment {
    color: tomato;
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* icon */
.user-icon {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin: 10px 0px 10px 30px;
}

.big-user-icon {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-top: 30px;
}

.mini-user-icon {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.like {
  margin-left: 55px;
}

/* likes */

