/* bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* font-awesome */
@import "font-awesome-sprockets";
@import "font-awesome";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 ,p {
  line-height: 1;
  font-family: 'Yusei Magic', sans-serif;
}

h1 {
  font-size: 4vmax;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

h2 {
  font-size: 3vw;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

h3 {
  font-size: 4rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

h4 {
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 20px;
}

p {
  font-size: 2vmax;
  line-height: 1.7em;
}

.about {
  color: fuchsia;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  font-family: 'Yusei Magic', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* home */
.jumbotron {
  position: relative;
  height: 100vmin;
  width: 100%;
  background: image-url("4629742_m.jpg") center;
  background-size: cover;
  font-size: 1.3em;
  margin-top: 20px;
  font-family: 'Yusei Magic', sans-serif;
  }

.jumbotron_2 {
  position: relative;
  height: 100%;
  background: image-url("nekohaikei.jpg");
  background-size: cover;
  font-size: 1.3vmax;
  margin-top: 20px;
  font-family: 'Yusei Magic', sans-serif;
  }

.jumbotron_3 {
  position: relative;
  height: 100%;
  background: image-url("nekohaikei2.jpg");
  background-size: cover;
  font-size: 2vmax;
  margin-top: 20px;
  font-family: 'Yusei Magic', sans-serif;
  }

.jumbotron_4 {
  position: relative;
  height: 100%;
  background: image-url("nekohaikei3.jpg");
  background-repeat: repeat;
  font-size: 1.4rem;
  margin-top: 20px;
  font-family: 'Yusei Magic', sans-serif;
  }

  .jumbotron_5 {
    position: relative;
    background: image-url("nekohaikei.jpg");
    background-size: cover;
    font-family: 'Yusei Magic', sans-serif;
    }

  .bg-mask {
    height: 100%;
    background: rgba(255,255,255,0.75);
  }

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      padding-top: 5px;
    }
    h1 {
      font-size: 3em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.8em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  display: flex;
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.statssub {
  margin: 0 auto;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.taikai {
  margin-top: 10px;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  text-align: center;
  li {
    overflow: auto;
    padding: 5px 0;
    border-bottom: 1px solid $gray-lighter;
    font-size: 1.3em
  }
  
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 1.5em;
  }
  .content {
    display: block;
    margin-left: 60px;
    font-size: 25px;
    font-family: 'Yusei Magic', sans-serif;
    img {
      display: block;
      padding: 5px 0;
      max-width: 100%;
    }
  }

  .comment {
    color: tomato;
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* icon */
.user-icon {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin: 10px 0px 10px 0px;
}

.big-user-icon {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-top: 30px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mini-user-icon {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.like {
  margin-left: 55px;
}

/* ranking */

.ranking {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    padding-top: 0;
    font-size: 1.2em;
  }
  .content {
    display: block;
    margin-left: 60px;
    font-size: 18px;
    font-family: 'Yusei Magic', sans-serif;
    img {
      display: block;
      padding: 5px 0;
      width: 100%;
      max-width: 100%;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

/* before login */
.home-button {
  margin-top: 85px;
  text-align: right;
}

/* page_top */
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: -100px;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
  margin-bottom: 50px;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* notification */
.tsuuti-icon {
  position: absolute;
  top: 10px;
  right: 0px;
  padding-left: 1rem;
  padding-top: 0rem;
  color: tomato;
}

/* tuuti index */

.tuuti {
  list-style: none;
  margin: 0;
  text-align: center;
  li {
    overflow: auto;
    padding: 5px 0;
    font-size: 1.3em
  }
  
}

.p-2 {
  padding: 2% !important;
}

.btn {
  margin-top: 10px;
  font-family: 'Yusei Magic', sans-serif;
}

.btn2 {
  padding: 3%;
  font-weight: 700;
  font-size: 1.8vmax;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius:20px;
  font-family: 'Yusei Magic', sans-serif;
}

.btn3 {
  color: tomato;
  padding: 3%;
  font-weight: 700;
  font-size: 1.8vmax;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius:20px;
  font-family: 'Yusei Magic', sans-serif;
}

.navbar {
  opacity: 0.85;
  padding: 15px;
  border-radius:20px;
}

/* スクロールの動きのところ */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* 画像のところ */
.img-fluid {
  max-width: 75%;
  height: auto;
}

.rounded-circle {
  border-radius: 100% !important;
}

/* 説明のところ */

.px-4 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  margin-top: 85px;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  margin-top: 25px;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.display-4 {
  font-size: calc(1.475rem + 2vw);
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  color: #ef3f98;
}
@media (min-width: 1200px) {
  .display-4 {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }
}

.gazou {
  text-align: center;
}

.otameshi {
  display: flex;
  flex-direction: row-reverse;
  @media screen and (max-width:1200px){
    flex-direction: column;
  }
}

.order-lg-1 {
  order: 2;
}

.order-lg-2 {
  order: 1;
}

.home-button2 {
  text-align: center;
}